/*  your css code here. If applicable */
  body {
            background-color: #f5f5f5;
        }
        
        .header {
            background-color: #011e29;
            padding: 20px;
            text-align: center;
        }
        
        .latest-news-section {
			display:flex;
            background-color: #f5f5f5;
            padding: 20px;
            width: 600px;
            margin: 0 auto;
        }
        
        .pictorial-news-section {
            background-color: #f5f5f5;
            padding: 20px;
            width: 600px;
            margin: 0 auto;
            text-align: center;
            border-radius: 10px;
            border: 1px solid #ccc;
        }